@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Maves Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Maves Regular'), url('../public/Fonts/Maves-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Adam';
  font-style: normal;
  font-weight: light;
  src: local('Adam'), url('../public/Fonts/Adam-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Adam';
  font-style: normal;
  font-weight: medium;
  src: local('Adam'), url('../public/Fonts/Adam-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Adam';
  font-style: normal;
  font-weight: bold;
  src: local('Adam'), url('../public/Fonts/Adam-Bold.ttf') format("truetype");
}

html, body {
  background-color: #292531;
  font-family: 'Adam';
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: wheat solid 1px; */
}

a {
  text-decoration: none;
}

h1{
  font-family: 'Maves Regular';
}


